# Ignore all data except geojson/parquet/txt files in data/geojson tracked by LFS
data/*
!data/geojson/
data/geojson/*
!data/geojson/*.geojson
!data/geojson/*.parquet
!data/geojson/*.txt

# Ignore static files from the app
static/

# Ignore other files and folders
__pycache__/
notebooks/
.cache/
