# Ignore all data except geojson and pickle files in data/geojson tracked by LFS
data/*
!data/geojson/
data/geojson/*
!data/geojson/*.geojson
!data/geojson/*.pkl

# Ignore static files from the app
static/

# Ignore other files and folders
__pycache__/
notebooks/